.hero {
  background-image: url("./banner.jpg");
  background-size: cover;
  background-position: center;
  height: 100vh;
  position: relative;
  padding-top: 100px;
}

/* Opcional: un overlay para oscurecer la imagen */
.hero::before {
  content: "";
  position: absolute;
  inset: 0;
  background: linear-gradient(to top, rgba(0, 0, 0, 0.7));
  z-index: 1;
}

.hero h1,
.hero p {
  z-index: 2;
  position: relative;
}
