.movie-poster {
  width: 150px;
  height: 225px;
  object-fit: cover;
  border-radius: 10px;
  transition: transform 0.3s;
}

.movie-poster:hover {
  transform: scale(1.05);
}

body {
  background-color: #141414;
  color: white;
}
